[client]
default-character-set=utf8


[mysqld]
skip-character-set-client-handshake
character-set-server=utf8
collation-server=utf8_general_ci
init_connect='SET collation_connection = utf8_general_ci; SET NAMES utf8;'
skip-name-resolve

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
max_connections=300

# 記憶體好大，不用白不用
innodb_buffer_pool_size=5G

# 要搭配buffer_pool，有的說是20%。
# innodb_log_file_size=512M

# 只留七天之內的 binary log
expire-logs-days=7

# 根據版本不同，有的不接受以下參數
default-character-set=utf8
default-collation=utf8_general_ci

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
